[package]
name = "secret-toolkit-permit"
version = "0.2.0"
edition = "2018"
authors = ["SCRT Labs <info@scrtlabs.com>"]
license-file = "../../LICENSE"
repository = "https://github.com/scrtlabs/secret-toolkit"
readme = "Readme.md"
description = "Boilerplate for using permits in Secret Contracts"
categories = ["cryptography::cryptocurrencies", "wasm"]
keywords = ["secret-network", "secret-contracts", "secret-toolkit"]

[dependencies]
serde = "1.0"
schemars = "0.7"
remain = "0.2.2"
ripemd160 = "0.9.1"
secp256k1 = "0.20.3"
cosmwasm-std = { package = "secret-cosmwasm-std", version = "0.10" }
secret-toolkit-crypto = { path = "../crypto" }
secret-toolkit-utils = { path = "../utils" }
