[package]
name = "secret-toolkit-permit"
version = "0.10.3"
edition = "2021"
authors = ["SCRT Labs <info@scrtlabs.com>"]
license-file = "../../LICENSE"
repository = "https://github.com/scrtlabs/secret-toolkit"
readme = "Readme.md"
description = "Boilerplate for using permits in Secret Contracts"
categories = ["cryptography::cryptocurrencies", "wasm"]
keywords = ["secret-network", "secret-contracts", "secret-toolkit"]

[package.metadata.docs.rs]
all-features = true

[dependencies]
cosmwasm-std = { workspace = true, version = "1.0.0" }
serde = { workspace = true }
ripemd = { version = "0.1.3", default-features = false }
schemars = { workspace = true }
bech32 = "0.9.1"
remain = "0.2.8"
secret-toolkit-crypto = { version = "0.10.3", path = "../crypto", features = [
    "hash",
] }
