[package]
name = "secret-toolkit-incubator"
version = "0.8.2"
edition = "2021"
authors = ["SCRT Labs <info@scrtlabs.com>"]
license-file = "../../LICENSE"
repository = "https://github.com/scrtlabs/secret-toolkit"
readme = "Readme.md"
description = "Experimental tools for writing Secret Contracts"
categories = ["cryptography::cryptocurrencies", "wasm"]
keywords = ["secret-network", "secret-contracts", "secret-toolkit"]

[package.metadata.docs.rs]
all-features = true

[dependencies]
serde = { workspace = true, optional = true }
cosmwasm-std = { workspace = true, optional = true }
secret-toolkit-serialization = { version = "0.8", path = "../serialization", optional = true }

[features]
generational-store = ["secret-toolkit-serialization", "serde", "cosmwasm-std"]
maxheap = ["secret-toolkit-serialization", "serde", "cosmwasm-std"]
